//colors
$white:#ffffff;
$header-bottom-bar:#474747;
$serchInput:#434a50;
$dark: #3b4954;
$loginRegister:#85939f;

$palitra-1:#ffae00;
$palitra-2:#fc7100;
$palitra-3:#e51c5e;
$palitra-4:#ae0f8d;
$palitra-5:#6d0fae;
$palitra-6:#33227a;
$palitra-7:#0c8fcc;

$tifany:#02baab;


$topPalitra: $palitra-1,$palitra-2,$palitra-3,$palitra-4,$palitra-5,$palitra-6,$palitra-7;
$bottomPalitra: $palitra-5,$palitra-7,$palitra-3,$palitra-2;

//fonts
$oxygen: 'Oxygen', sans-serif;
$lato: 'Lato', sans-serif;

//inputs



//indents

$px15:.9375rem;
$px5:.3125rem;
$px25: 1.5625rem;
$px2: .125rem;

//carusel
$carusels: "slide-1.jpg","slide-1.jpg","slide-1.jpg";

//icons
$iconList: "direction1.png","direction2.png","direction3.png","direction4.png";

//links
