.section {
  &-portfolio {
    padding: 50px 0;
  }
  &-blog-post {
    padding: 50px 0;
    .container {
      @extend .flex-content-between-lg
    }
    .content-bar {
      max-width: 690px;
      .article-pages {
        border-bottom: 1px solid #eaebec;
        margin-bottom: 30px;
      }
      .paragraf {
        &:last-child {
          margin-bottom: 70px;
          p {
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
      .wrap-img {
        max-width: 690px;
        max-height: 520px;
        overflow: hidden;
        margin-bottom: 50px;
        img {
          max-width: 100%;
        }
      }
    }
    .right-bar {
      width: 210px;
      max-width: 210px;
      margin-left: 20px;
    }
  }
   &-blogs {
      padding: 50px 0 100px;
      .container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35px;
      }
      article {
        margin-left: 30px;
        margin-bottom: 15px;
        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }
      .pagination {
        font-family: $oxygen;
        ul {
          margin: 0 auto; display: flex;
          .active {
            background-color: #d0d0d0c2;
          }
          .visited {
            a {
              color: #6d0fae!important;
            }
          }
          li {
            a {
              color: $tifany;
              padding: 10px;
              min-width: 30px;
              justify-content: center;
              height: 30px;
              align-items: center;
              display: flex;
            }
          }
        }
      }
    }
  &-welcome {
    height: 100vh;
    &-blog {
      font-family: $oxygen;
      display: flex;
      align-items: flex-end;
      .container {
        position: relative;
      }
      .roots {
        display: flex;
        li {
          margin-left: 10px;
          a {
            color: #85939f;
            font-size: 12px;
          }
          &:after {
            content:" /";
            color: #85939f;
          }
        }
      }
      .status-bar {
        display: flex;
        li {
          margin-left: 35px;
          &:first-child {
            margin: 0;
          }
        }
      }
      position: relative;
      background-image: url("../../img/welcome-blog.jpg");
      background-position: center;
      background-size: cover;
      padding: $px25 * 2 0;
      min-height: 300px;
      h2 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 25px;
      }
      &:before {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
      }
    }
  }
  &-welcome {
    height: 100vh;
    &-portfolio {
      font-family: $oxygen;
      display: flex;
      align-items: flex-end;
      .container {
        position: relative;
      }
      .roots {
        display: flex;
        li {
          margin-left: 10px;
          a {
            color: #85939f;
            font-size: 12px;
          }
          &:after {
            content:" /";
            color: #85939f;
          }
        }
      }
      .status-bar {
        display: flex;
        li {
          margin-left: 35px;
          &:first-child {
            margin: 0;
          }
        }
      }
      position: relative;
      background-image: url("../../img/welcome-blog.jpg");
      background-position: center;
      background-size: cover;
      padding: $px25 * 2 0;
      min-height: 300px;
      h2 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 0px;
      }
      &:before {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity : 0.5;
      }
    }
  }
  &-indent {
    padding: $px25 * 2 0;
    &-100 {
      padding: $px25 * 4 0;
    }
  }
  &-steal-of-the-month {
    padding: $px25 * 4 0;
    text-align: center;
    & .p-dark-md {
      max-width: 46.875rem;
      margin: $px25 * 2 auto;
      line-height: $px15*2;
    }
  }
  &-latest-works {
    position: relative;
    background-image: url("../../img/latestworks.jpg");
    background-position: center;
    background-size: cover;
    padding: $px25 * 4 0;
    min-height: 100vh;
    & .p-light-md {
      max-width: 46.875rem;
      text-align: center;
      margin: $px25 * 2 auto;
      line-height: $px15*2;
    }
    &:before {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 0.5;
    }
  }
  &-tifany {
    background-color: $tifany;
  }
  &-blockquote {
    position: relative;
    background-image: url("../../img/blockq.jpg");
    background-position: center;
    background-size: cover;
    padding: $px25 * 4 0;
    & .p-light-md {
      max-width: 46.875rem;
      text-align: center;
      margin: $px25 * 2 auto;
      line-height: $px15*2;
    }
    &:before {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 0.5;
    }
  }
  &-coments {
    background-color: #ebf0f3;
    padding: 50px 0;
  }
}