@media (max-width: 1200px ) {
  .resp-ind-xl {
    margin-bottom: 15px!important;
  }
  .flex-content-center-xl {
  }
  .flex-content-around-xl {
    justify-content: center;
    flex-direction: column;
  }
  .flex-content-between-xl {
    align-items: center;
    flex-direction: column;
  }
  .flex-align-center-xl {
  }
  .flex-wrap-xl {
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 930px ) {
  .container {
    padding: 0 10px;
  }
  .resp-ind-lg {
    margin-bottom: 15px!important;
  }
  .nav-li {
    width: 4.5rem;
  }
  .flex-content-center-lg {
    align-items: center;
    flex-direction: column;
  }
  .resp-ind-lg {
    margin-bottom: 15px!important;
  }
  .flex-content-around-lg {
    align-items: center;
    flex-direction: column;
  }
  .flex-content-between-lg {
    align-items: center;
    flex-direction: column;
  }
  .flex-align-center-lg {

  }
  .flex-wrap-lg {
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  .ul-icon-list {
    width: auto;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    $i: 1;
    & li:nth-child(even){
      margin-left: 0;
    }
    @each $icon in $iconList {
      .list-#{$i} {
        max-width: 440px;
        &:before {
          margin: 5px auto;
          float: none;
          height: 38px;
          $i:$i+1;
        }
      }
    }
    & p {
      font-size: $px15 - $px2/2;
      line-height: 25px;
    }
  }
  .card-expiriance {
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 215px;
    text-align: center;
    .wrap-img {
      width: 180px;
      height: 180px;
      border: 4px solid #ffffff;
      border-radius: 50%;
      margin: 0 auto 30px;
      img {
        width: 100px;
      }
    }
    &:after {
      content: "\00B7 \00B7 \00B7";
      color: white;
      font-size: 70px;
      position: relative;
      top:0;
      right: 0;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  .bottom-palitra:before {
    display: none;
  }
  .bottom-palitra {
    $i: 1;
    @each $clolor in $bottomPalitra {
      &:nth-child(#{$i}) {
        $i: $i+1;
        &:before {
          height: 0 !important;
        }
      }
    }
  }
  .section {
    &-blogs {
      .container {
        justify-content: center;
      }
      article {
        &:nth-child(1n+2) {
          margin: 0;
        }
        &:nth-child(2n+2) {
          margin-left: 30px;
        }
      }
    }
  }
  .list-related {
    margin-bottom: 20px;
  }
  .right-bar {
    margin: 0!important;
  }
}
@media (max-width: 768px ) {
  .resp-ind-md {
    margin-bottom: 15px!important;
  }
  .flex-content-center-md {
    justify-content: center;
    flex-direction: column;
  }
  .flex-content-around-md {
    justify-content: center;
    flex-direction: column;
  }
  .flex-content-between-md {
    align-items: center;
    flex-direction: column;
  }
  .flex-align-center-md {

  }
  .flex-wrap-md {
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  .nav-li {
    &:before {
      content: none;
    }
  }
  .h2-tifany-lg {
    font-size: $px15*4 / 1.5;
  }
  .h2-white-lg {
    font-size: $px15*4 / 1.5;
  }
  .h2-black-md {
  font-size: ($px15*2+$px5)/1.5;
  }
  .h2-white-md {
    font-size: ($px15*2+$px5)/1.5;
  }
  blockquote {
    padding: 0 10px ;
  }
  .section-welcome-blog {
    h2 {
      text-align: center;
    }
  }
}
@media (max-width: 680px ) {
  .section-blogs {
    padding: 50px 0;
    .container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
    article {
      &:nth-child(1n+2) {
        margin: 0;
      }
      &:nth-child(2n+2) {
        margin-left: 0px;
      }
    }
  }
  .form-comments {
    text-align: center;
    button {
      margin: 0 auto;
    }
    textarea {
      max-width: 220px;
    }
  }
}
@media (max-width: 576px ) {
  .resp-ind-sm {
    margin-bottom: 15px!important;
  }
  .flex-dir-cn-r-sm {
    flex-direction: column-reverse;
  }
  .flex-content-center-sm {
    align-items: center;
    flex-direction: column;
  }
  .flex-content-around-sm {
    justify-content: center;
    flex-direction: column;
  }
  .flex-content-between-sm {
    align-items: center;
    flex-direction: column;
  }
  .flex-align-center-sm {

  }
  .flex-wrap-sm {
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  .section-steal-of-the-month {
    padding-left: $px5*2;
    padding-right: $px5*2;
  }
  .section-latest-works {
    padding-left: $px5*2;
    padding-right: $px5*2;
  }
  .footer-site-bottom {
    flex-direction: column-reverse;
    a {
      margin-bottom: 15px;
    }
  }
  .section-welcome-blog {
    .status-bar {
      flex-direction: column;
      li {
        margin: 0;
        margin-bottom: 10px;
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
  .list-tag {
    flex-direction: column;
    p {
      margin-bottom: 10px;
    }
    li {
      margin-bottom: 10px;
    }
  }
  .list-network {
    justify-content: center;
  }
  .resp-text-center {
    text-align: center;
  }
}

